# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# spv
# *.spv

# glm
!Libraries/glfw-3.3.8.bin.WIN64/lib-vc2015/glfw3.lib
!Libraries/glfw-3.3.8.bin.WIN64/lib-vc2017/glfw3.lib
!Libraries/glfw-3.3.8.bin.WIN64/lib-vc2019/glfw3.lib
!Libraries/glfw-3.3.8.bin.WIN64/lib-vc2022/glfw3.lib
Windows_VS2022

!Models/*/*.obj
*.xcuserstate
*.DS_Store
build
